body{
    background-color: rgb(10, 2, 54);
}
.divTimer{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.divComponent{
    color: aquamarine;
    font-size: 200px;
    border: 1px solid rgba(127, 255, 212, 0.262);
    padding: 1%;
}
.dot{
    font-size: 200px;
    color: aqua;
}